@keyframes smoothAppear {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.slidesWarp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../public/image/문어지지마.png);
  background-size: cover;
  background-position: center center;
  .swiper {
    width: 100%;
    height: 100%;
  }
}

.Slide_inner {
  position: absolute;
  width: 90%;
  height: 80%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin: auto;
  border-radius: 4rem;
  background-color: rgba(255,255,255,0.9);
  overflow: auto;
}
.last_slide {
  background-image: linear-gradient(
                  rgba(255,255,255,0.9),
                  rgba(255,255,255,0.8)
  ), url(../../../public/image/ggg.jpeg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.swiper-slide-active {
  .home-title {
    animation: smoothAppear 1s forwards;
    animation-delay: 0.5s;
  }
  .home-contents1 {
    animation: smoothAppear 1s forwards;
    animation-delay: 1s;
  }
  .home-contents2 {
    animation: smoothAppear 1s forwards;
    animation-delay: 1.5s;
  }
  .home-contents3 {
    animation: smoothAppear 1s forwards;
    animation-delay: 2s;
  }
}


.home-wrapper{
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Noto Sans KR', sans-serif;
  .home-title{
    opacity: 0;
    margin: 15px 0;
    font-size: 2.4rem;
    font-weight: bold;
    color: #5a69eb;
    span{
      font-size: 2.7rem;
      font-family: 'Pacifico', cursive;
    }
  }
  .home-contents1{
    opacity: 0;
    margin: 15px 0;
    font-size: 1.6rem;
    color: #282c34;
    word-break: keep-all;
  }
  .home-contents2{
    opacity: 0;
    margin: 15px 0;
    font-size: 1.6rem;
    color: #282c34;
    word-break: keep-all;
  }
  .home-contents3{
    opacity: 0;
    margin: 15px 0;
    font-size: 1.6rem;
    color: #282c34;
    word-break: keep-all;
  }
  .about-project{
    opacity: 0;
    animation: smoothAppear 1s forwards;
    animation-delay: 1.5s;
    margin: 15px 0;
    font-size: 1.5rem;
    color: #282c34;
    text-align: center;
    span{
      font-size: 1.8rem;
      font-weight: bold;
      color: blue;
    }
  }
  .my-website{
    opacity: 0;
    animation: smoothAppear 1s forwards;
    animation-delay: 2.0s;
    margin: 15px 0;
    text-align: center;
    .my-website-title{
      margin-bottom: 5px;
      font-size: 1.8rem;
      font-weight: bold;
      color: midnightblue;
    }
    a{
      font-size: 1.5rem;
      margin: 0 10px;
    }
  }
}